.modal__container_type_success {
  padding: 40px 36px 52px;
}

.modal__title_type_success {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  color: #000000;
  margin-bottom: 14px;
}

.modal__link-btn {
  background: transparent;
  border: none;
  color: #2f71e5;
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 22px;
  padding: 0;
  cursor: pointer;
  text-align: left;
}

.modal__link-btn:hover {
  color: #255ec2;
  text-decoration: underline;
}
